{{#if this.showDonationPrompt}}
  <div class="patreon-donation-prompt">
    <span role="button" class="close" {{action "close"}}>
      {{d-icon "times"}}
    </span>

    {{html-safe
      (i18n
        "patreon.donation_prompt.body"
        campaignUrl=this.siteSettings.patreon_donation_prompt_campaign_url
      )
    }}
  </div>
{{/if}}