{{#if showDonationPrompt}}
  <div class="patreon-donation-prompt">
    <span class="close" {{action "close"}}>
      {{d-icon "times"}}
    </span>

    {{{i18n "patreon.donation_prompt.body"}}}
  </div>
{{/if}}
