.admin-detail #patreon {
  .new-filter input.channel {
      margin-bottom: 0px;
  }

  .select2-container-multi .select2-choices {
    border: 1px solid #e9e9e9;
  }

  h1 {
    margin-bottom: 15px;
  }

  .error {
    color: #f55959;
  }

  .last_synced {
    margin-left: 5px;
  }
}

.btn-social.patreon {
  background: #052D49 url(/plugins/discourse-patreon/images/patreon-logomark-color-on-navy.png) no-repeat;
  background-position-y: 8px;
  background-position-x: 30px;
  background-size: 16px;
  padding-left: 35px;
}

.mobile-view {
  .btn-social.patreon {
    background-position-x: 18px;
  }
}

.badge-card.patreon .badge-contents .badge-icon img {
  max-width: 48px;
}
